.login-area{
    border-radius: 10px;
    background-color: lightgrey;
}
.remember-password{
    width: 30px;
    height: 30px;
    font-size: 100%;
    border-radius: 100%;
    background-color: #306D7B;
    color: white;
    margin-right: 5%;
}
.remember-text{
    font-weight: bold;
    color: #306D7B;
    cursor: pointer;
}